.parent-container {
    background: #fff;
    width: 100%;
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 50000;
}


.join-now-container {
    float: right;
    margin-top: 10px;
}

@media screen and (max-width: 1020px) {
    .menu-button {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyNCAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0yMy42NjYzIDE2LjY2NjdIMC4zMzMwMDhWMjEuNjY2N0gyMy42NjYzVjE2LjY2NjdaIiBmaWxsPSIjQzMzOTkxIi8+DQo8cGF0aCBkPSJNMjMuNjY2MyA4LjMzMzM0SDAuMzMzMDA4VjEzLjMzMzNIMjMuNjY2M1Y4LjMzMzM0WiIgZmlsbD0iI0MzMzk5MSIvPg0KPHBhdGggZD0iTTIzLjY2NjMgMEgwLjMzMzAwOFY1SDIzLjY2NjNWMFoiIGZpbGw9IiNDMzM5OTEiLz4NCjwvc3ZnPg0K);
        background-repeat: no-repeat;
        display: inline-block;
        height: 19px;
        width: 21px;
        background-size: contain;
        margin-right: 20px;
        position: relative;
        top: 5px;
        cursor: pointer;
    }

    .x-button {
        background-image: url('https://www.eqbank.ca/Assets/dist/images/search-close-icon.svg');
        background-repeat: no-repeat;
        display: inline-block;
        height: 19px;
        width: 21px;
        background-size: contain;
        margin-right: 20px;
        position: relative;
        top: 5px;
        cursor: pointer;
    }
    .Go-button {
        display: none;
    }
    .search-close-button {
        display: none;
    }
}

@media screen and (max-width: 1020px) {
    .parent-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 1020px) {
    .inner-container {
        padding: 0 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        height: 70px;
        margin: 0 auto;
        max-width: 100rem;
    }
}

@media screen and (min-width: 1020px) {
    .join-now-container {
        display: none;
    }
}

@media screen and (min-width: 1020px) {
    .nav-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 90px;
    }
}
    .search-bar-wrapper {
        height: 60px;
        padding-bottom: 20px;
        width: 1500px;
        z-index: 6000;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        padding-top: 2px;
        transform: translateX(100%);
        transition: transform 0.5s ease-out;
    }
    .search-bar-wrapper.open {
        transform: translateX(0);
    }

.Go-button {
    background: #c33991;
    border: none;
    color: #fff;
    font-family: din-2014, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 65px;
    padding: 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.Go-button:hover {
    background-color: rgb(42, 41, 41);
}

.search-close-button {
    cursor: pointer;
    margin-top: 30px;
    margin-right: 15px;
}
