.parent-container {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 50000;
}

.join-now-container {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

@media screen and (max-width: 1020px) {
    .menu-button {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyNCAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0yMy42NjYzIDE2LjY2NjdIMC4zMzMwMDhWMjEuNjY2N0gyMy42NjYzVjE2LjY2NjdaIiBmaWxsPSIjQzMzOTkxIi8+DQo8cGF0aCBkPSJNMjMuNjY2MyA4LjMzMzM0SDAuMzMzMDA4VjEzLjMzMzNIMjMuNjY2M1Y4LjMzMzM0WiIgZmlsbD0iI0MzMzk5MSIvPg0KPHBhdGggZD0iTTIzLjY2NjMgMEgwLjMzMzAwOFY1SDIzLjY2NjNWMFoiIGZpbGw9IiNDMzM5OTEiLz4NCjwvc3ZnPg0K);
        background-repeat: no-repeat;
        display: inline-block;
        height: 19px;
        width: 21px;
        background-size: contain;
        margin-right: 20px;
        position: relative;
        top: 5px;
        cursor: pointer;
        color: black;
    }

    .x-button {
        background-image: url('https://www.eqbank.ca/Assets/dist/images/search-close-icon.svg');
        background-repeat: no-repeat;
        display: inline-block;
        height: 19px;
        width: 21px;
        background-size: contain;
        margin-right: 20px;
        position: relative;
        top: 5px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1020px) {
    .parent-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 1020px) {
    .inner-container {
        padding: 0 30px;
        display: flex;
        flex-direction: row-reverse;
        height: 70px;
        margin: 0 auto;
        max-width: 100rem;
    }
}

@media screen and (min-width: 1020px) {
    .join-now-container {
        display: none;
    }
}
