.phone-card-content {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 40px;
    margin-left: 220px;
}

@media (min-width: 700px) and (max-width: 991px) {
    .phone-card-content {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 220px;
        margin-right: 20px;
    }
}

@media (min-width: 300px) and (max-width: 700px) {
    .phone-card-content {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
        margin-right: 20px;
        position: relative;
        bottom: 5px;
    }
}

.phone-banner {
    background-color: #33bfbc;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-weight: bold;
}
.discount-price {
    font-weight: 600;
    font-size: 0.8rem;
}
.discount-price-line-through {
    padding-right: 10px;
    font-size: 0.8rem;
    text-decoration: line-through;
}
.calculation-content {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-content: flex-end;
    font-size: 0.8rem;
}

.phone-bottom-content {
    background-color: #fffacc;
    font-size: 0.8rem;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
    margin-bottom: 1.6rem;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.phone-full-price {
    font-weight: bold;
    font-size: 0.8rem;
}

.phone-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 300px) and (max-width: 700px) {
    .phone-image {
        height: 300px;
    }
}

.certified-pre-owned {
    font-weight: bold;
    padding-left: 5px;
}
