.bread-crumb-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.bread-crumb-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    list-style: none;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
}
